#top {
  width: 800px;
  background-color: #dcc9f4;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

#top .top-child {
  width: 20%;
  background: #ffd9db;
  display: inline-block;
}
#middle {
  width: 800px;
  height: 800px;
  background-color: #ffd9db 
} 
#middle-child01 {
  position: relative;
  top: 100px;
  left: 100px;
  width: 200px;
  height: 200px; 
  background-color: #87ceeb;
}
#middle-child02 {
  position: relative;
  top: 100px;
  left: 300px;
  width: 200px;
  height: 200px; 
  background-color: #87ceeb;
}
#middle-child03 {
  position: relative;
  top: 100px;
  left: 500px;
  width: 200px;
  height: 200px;
  background-color: #87ceeb;

}
#bottom {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  width: 800px;
  height: 300px;
  background-color: #87ceeb
  
  
}
#bottom-child01 {
  width: 400px;
  height: 100px;
  background-color: #e5dcf0;
 
}
#bottom-child02 {
  position: relative;

  left: 200px;
  width: 400px;
  height: 100px;
  background-color: #e5dcf0
  
}
#bottom-child03 {
  position: relative;
 
  left: 400px;
  width: 400px;
  height: 100px;
  background-color: #e5dcf0
}